<div>
  <h3>First Name  <span class="red">*</span></h3>
    <div class="select-field">
     <%= f.text_field :first_name %>
    </div>
    
    <div class="text-aera">
      <h3>Last Name <span class="red">*</span></h3>
     <%= f.text_field :last_name  %>
    </div>
      <div>
        <h3>Email  <span>*</span></h3>
       <%= f.text_field :email%>
      </div>
</div>
         
        


 
